# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

.*.swp
original-dataset.zip
UCI HAR Dataset
tidy-UCI-HAR-dataset.csv
tidy-UCI-HAR-avgs-dataset.csv

